@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700,900');

* {
	box-sizing: border-box;
	transition: all ease-in-out 250ms;
	margin: 0; padding: 0;
}

body {
	margin: 0;
	font-family: 'Raleway', '맑은 고딕', sans-serif;
	text-align: center;
	font-size: 100%:
}

img {
	max-width: 100%;
	height: auto;
}

.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 20px;
	overflow: hidden;
}

li{ list-style-type: none;}
a{ 
	text-decoration: none;
}
.clearfix::after,
section::after,
footer::after {
	content: '';
	display: block;
	clear: both;
}

/* Column system
=================== */

[class^=col-] {
/*	width: 100%;*/
}

[class^=col-]:first-child {
/*	margin-top: 0;*/
}

/* typography
=================== */

h1 {
	font-weight: 300;
	font-size: 2.4em;
	margin-top: 0;
}

p {
	margin-top: 0;
	line-height: 1.5em;
}


/* Common CSS */
#main_header{ 
	height: 15vh;
	position:relative;
}
#main_gnb{ margin-top: 30px;}
#main_gnb li{
	display: inline-block;
}
#main_gnb li > a{
	padding: 0 30px;
}
#visual, #about, #works{ 
	margin-bottom: 60px;
	border: 1px solid red;
}
#visual{
	position: relative;
	max-width: 1920px;
	margin: 0 auto;
	height: 85vh;
	background: #ccc;
	background-image: url("../images/visual1.jpg");
	background-size: cover;
	background-attachment: fixed;
	color: #fff;
}
#visual > .visual_txt{
	position: absolute;
/*	border: 1px solid red;*/
	text-align: center;
	left: -100%; top: 50%;
	transform: translate(-50%, -50%);
	font-weight: bold;
	background: rgba(0,0,0,0.2);
	padding: 60px 30px;
	
}

#about{ padding-top: 40px;}
#about .col-3 > p{ margin-top: 40px;}

#works{
	background: #efefef;
}
#works h1{
	background: #79c73a;
	padding: 60px 0;
	color: #fff;
}
#works .work_list > li{
	border: 1px solid #999;
	margin-bottom: 40px;
	box-shadow: 1px 2px 4px rgba(100,100,100, 0.3);
}
#works .work_list img{ 
	width: 100%;
	display: block;
}
#works a{ 
	display: block;
	position: relative;
}
#works .textbox{
	position: absolute;
	background: #000;
	bottom: 0; 
	left: 0;
	width: 100%;
	color: #fff;
	padding: 10px;
}
#works .textbox p{ 
	font-size: small;
	margin-top: 8px;
}




#main_footer{
	font-size: small;
	color: #999;
}
#main_footer > .sns{
	margin-bottom: 50px;
}
#main_footer > .sns > a{
	display: inline-block;
	margin-right: 30px;
}
#to_top{
	background: #ececec;
/*	border: 1px solid red;*/
	padding: 10px 0;
}
#to_top > a{ 
	display: block;

}

#to_top .fa-angle-double-up{
	font-size: 24px;
}
#main_footer > .copy{ 
	background: #3c3c3c;
	padding: 50px 0;
}




@media (min-width: 768px){
	.col-1 {
		width: 100%;
		float: left;
	}
	.col-2 {
		width: 50%;
		float: left;
	}
	.col-3 {
		width: 33.33%;
		float: left;
	}
	.col-4 {
		width: 25%;
		float: left;
	}
	
	#about .col-3:first-child{
		padding-right: 40px;
	}
	#about .col-3:nth-child(2){
		padding-left: 20px;
		padding-right: 20px;
	}
		
	#about .col-3:last-child{
		padding-left: 40px;
	}
	#works .col-3{
		width: 32%;
		margin-right: 2%;
		margin-bottom: 2%;
	}
	#works .col-3:nth-child(3n){
		margin-right: 0;
	}		
	
}



/* */
#about .fab{
	font-size: 140px;
}












/* 효과 */
#visual .visual_txt{
	animation-name: visual_txt; 
	animation-duration: 1s;
	animation-delay: 0s;
	animation-fill-mode: forwards;
	animation-play-state: paused;
}
@keyframes visual_txt{
	from{ 
		left: -100%;
		transform:  rotate(-180deg);
	}
	to{ 
		left: 50%;
		transform:  rotate(0deg) translate(-50%, -50%);
	}
}




